<div *ngIf="selectedUser" class="hidden">
  <button class="users">Terug</button>
</div>
<!--
<div *ngIf="!selectedUser" class="hidden">
  <h2>Alle gebruikers</h2>
  <ul class="users">
    <li *ngFor="let user of users" (click)="onSelect(user)" [class.selected]="user === selectedUser">
      <span></span> {{user.naam}}
    </li>
  </ul>
    </div>-->
    <div >
      <app-login></app-login>
  <app-login *ngIf="!loggedUser" class="hidden"></app-login>
</div>
    <div *ngIf="selectedUser" class="hidden">
      <app-user-detail [user]="selectedUser"></app-user-detail>
      <app-addtweets [user]="selectedUser"></app-addtweets>
      <app-tweets [user]="selectedUser"></app-tweets>
    </div>
