<!--The content below is only a placeholder and can be replaced.-->
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="~/signalr/hubs"></script>
  <script src="~/signalr/hubs"></script>
</head>
<h1>
  {{ title }}
</h1>
<app-users></app-users>
<br />
<br />
<div>
  Test SSE:<br />
  commonData.Message: <input #textbox type="text" [(ngModel)]="commonData.message" /><br />
  <button (click)="getCommonData()">Load data</button>
  <button (click)="setCommonData()">Save data</button>
  <br /><br />
</div>
